/*Styling the body content*/
body{
    width: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
}
/*Styling the home section*/
.home{
    background-image: url(assets/backgrounds/h_img.jpg);
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    color: azure;
    text-align: center;
    font-size: 60%;
    padding: 150px;
    position: relative;
}
.home .logo{
    margin-top: 10px;
}
.home h1{
    margin-top: 20px;
    font-size: 35px;
}
.home p{
    margin-top: 15px;
    font-size: 10px;
}
.home .mouse{
    margin-top: 80px;
}
/*Styling the about section*/
.about{
    text-align: center;
    padding: 50px 0;
}
.about p{
    font-size: small;
}
/*Styling the services section*/
.services{
    background-image: url(assets/backgrounds/s_image.jpg);
    background-size: cover;
    height:300px;
    text-align: center;
    padding: 85px;
    color: azure;
    font-size: 90%;
    position: relative;
}/*Styling the what we do section*/
.whatwedo{
    text-align: center;
}
#design-content{
    display: none;
}
#development-content{
    display: none;
}
#product-content{
    display: none;
}